#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    margin-top: -10px;
}
#navbar>div{
    width: 70%;
    padding: 20px 10px;
}
input{
    width: 90%;
    display: block;
    margin: auto;
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
}